<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>HTML Starter</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="a.js"></script>
  </head>
<body>
	<div ng-app = "myApp" class = "container" style="width:550px">
	  <div style="text-align:center;color:black">
		<h3>AngularJS</h3>
	  </div>
		<div ng-controller = "ContactController">
		  <div align="right">
			<a href="#" ng-click="searchUser()">User List</a>
		  </div>
		  <form role = "form" class="well" ng-hide="ifSearchUser">
			<div class = "form-group">
				<label for = "name"> Name:  </label>
				<input type = "text" name="name" id = "name" class = "form-control" placeholder = "Enter Name " ng-model = "newcontact.name">
                <div class="error"></div>
			</div>
			<div class = "form-group">
				<label for = "email"> Email:  </label>
				<input type = "email" name="email" id = "email" class = "form-control" placeholder = "Enter Email " ng-model = "newcontact.email">
                <div class="error"></div>
			</div>
			<div class = "form-group">
				<label for = "password"> Password:  </label>
				<input type = "password" name="password" id = "password" class = "form-control" placeholder = "Enter Password " ng-model = "newcontact.password">
			    <div class="error"></div>
            </div>
			<div class = "form-group">
				<label for = "phone"> Phone:  </label>
				<input type = "text" name="phone" id = "phone" class = "form-control" placeholder = "Enter Phone " ng-model = "newcontact.phone">
			    <div class="error"></div>
            </div>
			<br>
			<input type="hidden" ng-model="newcontact.id">
			<input type="button" class="btn btn-primary" ng-click="saveContact()" class="btn btn-primary" value = "Submit">
		  </form>
		  </div>
		</div>
	</div>
</body>
</html>